module.exports = require("rc")("wzrdry", {
  server: {
    port: 5000,
      routes: {
        cors: {
          origin: ['*'],
          credentials: true
        }
    }
  },
  cookies: {
    cookie: 'session',
    password: 'AMzizmdQZr05hW5EBgPLi7I7GOtD95TD',
    isSecure: false,
    isHttpOnly: true,
    isSameSite: false,
    ttl: 1000 * 60 * 60 * 24 * 30
  },
  baseName: "localhost",
  log: {
    level: "trace"
  },
  seneca: {}
});
